#principal-sub-area-1-1 h2 {
    text-align: center;
}

#principal-sub-area-1-3 h1{
    text-align: center;
}

#principal-sub-area-1-3 div{
    text-align: center;
}

#principal-sub-area-1-3>p{
    text-align: center;
}