

#topo{
    border: 1px solid black;
}

#menu-navegacao>ul{
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}

#menu-navegacao li a{
    border: 1px solid black;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

#principal{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'principal-area-1 principal-area-1 principal-area-1 principal-area-1 principal-area-2'
    ;
}


#principal-area-1{
    border: 1px solid blue;
    grid-area: principal-area-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'principal-sub-area-1-1 principal-sub-area-1-1'
        'principal-sub-area-1-2 principal-sub-area-1-3'
        'principal-sub-area-1-2 principal-sub-area-1-3'
        'principal-sub-area-1-2 principal-sub-area-1-3'
        'principal-sub-area-1-2 principal-sub-area-1-3'
        'principal-sub-area-1-2 principal-sub-area-1-3'
        'principal-sub-area-1-2 principal-sub-area-1-3'
    ;
}

#principal-sub-area-1-1{
    border: 1px solid black;
    grid-area: principal-sub-area-1-1;
    display: grid;
    grid-template-columns: 1fr;
}

#principal-sub-area-1-1>div{
    border: 1px solid black;
}

#formulario-1 {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#formulario-1 label, 
#formulario-1 input {
    border: 1px solid black;
    display: block;
}

#principal-sub-area-1-1 button{
    display: block;
    margin: 0 auto;
    width: 100px;
}

#principal-sub-area-1-2{
    border: 1px solid black;
    grid-area: principal-sub-area-1-2;
    display: none;
}

#formulario-2{
    border: 1px solid red;
}

#formulario-2>div{
    margin: 0.3rem 0.5rem;
}

#formulario-2 label, 
#formulario-2 input {
    border: 1px solid black;
    display: block;
}

#botao-confirmar-notas {
    border: 1px solid red;
    display: flex;
    justify-content: end;
}

#botao-confirmar-notas>button{
    display: block;
    border: 1px solid black;
}

#principal-sub-area-1-3{
    border: 1px solid black;
    grid-area: principal-sub-area-1-3;
    display: none;
}

#principal-sub-area-1-3>section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#principal-sub-area-1-3 div {
    border: 1px solid red;
    flex-basis: 100vh;
}

#principal-area-2{
    border: 1px solid blue;
    grid-area: principal-area-2;
}

